<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Query System</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div class="background">

    <span></span>
    <span></span>
    <span></span>

</div>

<div class="app">

    <div class="top">

        <h1>AI Query System</h1>

        <p>Spring Boot • OpenRouter • DevOps Pipeline</p>

    </div>

    <div id="chat">

        <div class="ai-message">

            👋 Hello!

            <br><br>

            Ask me anything.

        </div>

    </div>

    <div class="bottom">

        <textarea
                id="message"
                placeholder="Ask anything..."
                maxlength="1000"></textarea>

        <button onclick="askAI()">

            ➜

        </button>

    </div>

</div>

<script src="/js/script.js"></script>

</body>
</html>